<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arquitetura-mvvm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5060038D1FFFA17000B54AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506003A11FFFA17000B54AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50958025200E19F300D991FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
